<link rel="stylesheet" href="css/styles.css">

<header id="main-header">
    <h1 id="main-header-text">Card Editor</h1>
    <nav>
        <a href="/login" class="sign-in" id="about-sign-in"><li>Login</li></a>
    </nav>
</header> 

<div class="about-container get-started-container" id="about">
    <h2 class="about-text">Create and customize your own baseball cards!</h2>
    <a href="/login" class="sign-in get-started-submit" >Get Started!</a>
</div>
<footer class="footer">
    <p>Erin Bruner</p>
</footer>
<script src="js/index.js"></script>